
body{
    margin: 0px;
    background-image: url("../images/kitchen-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: burlywood;  */
}


.kitchen-list{ 
    list-style: none;

    position: relative;
    width: 20%;
    height: 100%;
    top: 200px;
    left: 70%;
    /* background-color: rgba(172, 135, 99, 0.281); */
    background-color: rgba(180, 139, 86, 0.747);
    border: 10px solid transparent;
    padding: 15px;
    border-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png") 30 stretch;
    /* border-radius: 30px; */
    z-index: 2;
}
.kitchen-list li:before {
    margin: 0;
}

ul li:hover:before {
    content:"\2022";
  }


.b1,.b2,.b3{
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
  
.content {
    width: 500px;
    height: 500px;
    left: 20%;
    top: 10%;
    position: absolute;
    display: flex;
    justify-content: center;
}


img {
    width: 500px;
    height: auto;
  }
  
  p {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    font-size: 12px;
    color: rgb(92, 42, 7);
    position: relative;
    display: inline-block;
    background-color: burlywood;
    padding: 10px;
  }
  
 p:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 150%;
    top: 0;
    left: 105%;
    animation: slide 1s ease;
    padding: 10px;


    background-image: url("../images/kitchen-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-clip: padding-box;
}
  
  @keyframes slide {
    0% {
        left: 0;
    }
    100% {
        left: 105%;
    }
  }

  
 #first, #second, #third {
    display: none;
  }
  
  button {
    outline: none;
  }