
html{
    background-color: #FFE4C4;
}



.wrapper{
    min-height: 1080px; min-width: 960px;
    height: 100%; width: 100%;
 } 

  
#leaves,#leaves2,#leaves3{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    background: transparent;    
    padding:0;
    margin:0;
    overflow: hidden;
}

#leaves{
    left: 40%;
}
 #leaves2{
    top: 75%;
    left: 40%;
}

#leaves3{
    right: 30%;
    top: 30%;
} 


.path{
    position: absolute;
    left: 400px;
    width: 300px;
    height: 180%;
    background-color: saddlebrown;
    border: solid;
    border-width: 0 10px 0px 10px;
    border-color: #F4A460 ;
  }

.path::before{
    content: " ";
    position: absolute;
    display: flex;
    left: 210px;
    width: 100vw;
    height: 300px;
    top: 500px;
    background-color: saddlebrown;
    border: solid;
    border-width: 10px 0px 10px 0px;
    border-color: #F4A460;
}

.path::after{
    content: " ";
    position: absolute;
    display: flex;
    left: 210px;
    width: 90px;
    height: 300px;
    top: 500px;
    background-color: saddlebrown;
    border: solid;
    border-width: 10px 0px 10px 0px;
    border-color: saddlebrown ;
}
  
#kitchen{
    background-color: transparent;
    position: absolute;
    display: flex ;
    left: 1160px;
    padding: 0%;
    margin: 0%;
    z-index: -1;
}

.link a{
    position: absolute;
    display: flex;
    z-index: 2;
    width: 75px;
    height: 175px;
    left: 1310px;
    top: 310px;
    background-color: transparent;
    border-radius: 30px 20px 20px 0;
}

#NotKitchen{
    background-color: transparent;
    position: absolute;
    display: flex ;
    padding: 0%;
    margin: 0%;
    z-index: 1;
    top: 950px;
    left: 25px;
}

.link-notKitchen{
    width: 100px;
    height: 130px;
    background-color: transparent;
    display: flex ;
    position: absolute;
    left: 170px;
    top: 1300px;
    z-index: 3;
}

#shroomMisc{
    background-color: transparent;
    position: absolute;
    display: flex ;
    padding: 0%;
    margin: 0%;
    z-index: 1;
    top: 780px;
    left: 800px;
}


  .shroomDoor a{
    background:black;
    width: 30px;
    height: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    z-index: 2;
  }

  .shroomDoorKnob{
    background:white;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    right: 20px;
    position: absolute;
    display: flex;
    z-index: 1;
  }



.arrow-up{
    padding: 50px;
    transition: .24s;
    position: absolute;
    border: solid transparent;
    border-width: 0 0 25px 25px;
    box-shadow: 1px -1px 0 1px white inset;
    transform:  rotate(135deg);
    z-index: 5;
    left: 500px;
    top: 35px;
}

.arrow-up:hover{
    box-shadow: 2px -2px 0 2px white inset;
}


.arrow-down{
    padding: 50px;
    transition: .24s;
    position: absolute;
    border: solid transparent;
    border-width: 0 0 25px 25px;
    box-shadow: 1px -1px 0 1px white inset;
    transform:  rotate(-45deg);
    z-index: 5;   
    left: 500px;
    bottom: -75%;

}

.arrow-down:hover{
    box-shadow: 2px -2px 0 2px white inset;
}

.arrow-right{
    padding: 50px;
    transition: .24s;
    position: absolute;
    border: solid transparent;
    border-width: 0 0 25px 25px;
    box-shadow: 1px -1px 0 1px white inset;
    transform:  rotate(-135deg);
    z-index: 5;
    left: 130%;
    top: 600px;
}

.arrow-right:hover{
    box-shadow: 2px -2px 0 2px white inset;
}