
body{
    margin: 0px;
    background-image: url("../images/library-back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

ul, li, li a{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;
    list-style: none;
}

.arrows{
    position: absolute;
    top: 30%;
    left: 10%;
}

.text-reveal{
    position: absolute;
    top: 50%;
    left: 30%;
}

.background-clip{
    position: absolute;
    top: 20%;
    left: 60%;
}

.border-image{
    position: absolute;
    top: 70%;
    left: 30%;

}
.border-radius{
    position: absolute;
    top: 55%;
    left: 6%;
    white-space: nowrap;
}

.background-resp{
    position: absolute;
    top: 90%;
    left: 62%;
}
.github-desktop{
    position: absolute;
    top: 10%;
    left: 22%;
}

.photoshop{
    position: absolute;
    top: 34%;
    left: 58%;
}

.falling-leaves{
    position: absolute;
    top: 78%;
    left: 45%;
}

.position{
    position: absolute;
    top: 61%;
    left: 90%;
}

.drawing{
    position: absolute;
    top: 52%;
    left: 78%;
}

.rgba{
    position: absolute;
    top: 67%;
    left: 68%;
}

.stripes{
    position: absolute;
    top: 87%;
    left: 18%;
}

.test{
    position: absolute;
    top: 10%;
    left: 78%;
}

.flashlight{
    position: absolute;
    top: 25%;
    left: 28%;
}

.font1{
    position: absolute;
    top: 26%;
    left: 63%;

}

.font2{
    position: absolute;
    top: 80%;
    left: 0;

}
.stock{
    position: absolute;
    top: 65%;
    left: 28%;
}

.colour{
    position: absolute;
    top: 55%;
    left: 50%;
}

.text-wrap{
    position: absolute;
    top: 13%;
    left: 50%;
}
.article{
    position: absolute;
    top: 35%;
    left: 45%;
}

.button{
    position: absolute;
    top: 42%;
    left: 72%;
}