
html{
    background-color: #FFE4C4;
}

body{
    margin: 0 0 0 0;
}

.wrapper{
    min-height: 1080px; min-width: 960px;
    height: 100%; width: 100%;
 } 


 .arrow-down{
    padding: 50px;
    transition: .24s;
    position: absolute;
    border: solid transparent;
    border-width: 0 0 25px 25px;
    box-shadow: 1px -1px 0 1px white inset;
    transform:  rotate(-45deg);
    z-index: 5;   
    left: 500px;
    bottom: -40%;
}

.arrow-down:hover{
    box-shadow: 2px -2px 0 2px white inset;
}

 .path{
    width: 50vw;
    height: 300px;
    bottom: -20vh;
    position: absolute;
    background-color: saddlebrown;
    border: solid;
    border-width: 10px 10px 10px 0px;
    border-radius: 0 0 0 0;
    border-color: #F4A460 ;
    transform: rotate(-90deg);
    left: 195px;
  }

  #leaves,#leaves2{
    position: absolute;
    display: flex;
    background: transparent;    
    padding:0;
    margin:0;
    overflow: hidden;
}

  #leaves{
    width: 100%;
    height: 100%;
    left: 15%;
    bottom: 0;
}

#leaves2{
    width: 80%;
    height: 80%;
    top: 50%;

}

#library{
    left: 800px;
    position: absolute; 
}



.link a{
    width: 240px;
    height: 130px;
    background-color: transparent;
    display: flex ;
    position: relative;
    border-radius: 20px;
    z-index: 2;
    text-decoration-line: none;
    text-decoration: none;
    color: saddlebrown;
    justify-content: center;
    left: 320px;
    top: -160px;
}

.link p{
    display: none;
}

 .link a:hover p{
    display: inline-block;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-decoration-line: none;
    text-decoration: none;
    justify-content: center;
    top: 150px;
}
.link a p:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    animation: slide3 1s ease forwards;
    right: 1px;
    background-repeat: no-repeat;

    background-color: #FFE4C4;
}


@keyframes slide3 {
    0% { top: 0;}
    99%   { top: 100%;}
    100% {opacity: 0;}
  }  